In [1]:
#create choices
strategies=['Rock','Paper','Scissors', 'Lizard', 'Spock']

In [2]:
#create game rules
payoff={('Rock','Paper'):(0,1),
        ('Paper','Rock'):(1,0),
        ('Rock','Scissors'):(1,0),
        ('Scissors','Rock'):(0,1),
        ('Paper','Scissors'):(0,1),
        ('Scissors','Paper'):(1,0),
        ('Rock','Lizard'):(1,0),
        ('Lizard', 'Rock'):(0,1),
        ('Spock','Lizard'):(0,1),
        ('Lizard', 'Spock'):(1,0),
        ('Paper','Lizard'):(0,1),
        ('Lizard', 'Paper'):(1,0),
        ('Scissors','Lizard'):(1,0),
        ('Lizard', 'Scissors'):(0,1),
        ('Spock','Scissors'):(1,0),
        ('Scissors', 'Spock'):(0,1),
        ('Spock','Paper'):(0,1),
        ('Paper', 'Spock'):(1,0),
        ('Spock','Rock'):(1,0),
        ('Rock', 'Spock'):(0,1),
        ('Rock','Rock'):(0,0),
        ('Paper','Paper'):(0,0),
        ('Scissors','Scissors'):(0,0),
        ('Lizard','Lizard'):(0,0),
        ('Spock','Spock'):(0,0)}

In [3]:
#create names of players
names=['Leonard','Sheldon','Raj','Howard']
#set up scoring system
society=[{'name':n,'score':0,'strategy':None} for n in names]

In [4]:
from random import choice

#choose randomly
choice(strategies)

'Paper'

In [5]:
#test for a single game
society[0]['strategy']=choice(strategies)
society[1]['strategy']=choice(strategies)

In [6]:
#single game choice
society[0]['strategy'],society[1]['strategy']

('Scissors', 'Spock')

In [7]:
#create score for single game
result = payoff[society[0]['strategy'],society[1]['strategy']]
result

(0, 1)

In [8]:
#update players scores
society[0]['score']+=result[0]
society[1]['score']+=result[1]

In [9]:
#players scores after single game
society

[{'name': 'Leonard', 'score': 0, 'strategy': 'Scissors'},
 {'name': 'Sheldon', 'score': 1, 'strategy': 'Spock'},
 {'name': 'Raj', 'score': 0, 'strategy': None},
 {'name': 'Howard', 'score': 0, 'strategy': None}]

In [10]:
#create table for single game scores
import pandas as pd 

socialResults=pd.DataFrame((society[0], society[1]))
socialResults

      name  score  strategy
0  Leonard      0  Scissors
1  Sheldon      1     Spock

In [11]:
#create table for winners
winnerScore=socialResults.score.max()
socialResults[socialResults.score==winnerScore]

      name  score strategy
1  Sheldon      1    Spock

In [12]:
import itertools 
for player1,player2 in itertools.combinations(society,2):
    print(player1,player2)

{'name': 'Leonard', 'score': 0, 'strategy': 'Scissors'} {'name': 'Sheldon', 'score': 1, 'strategy': 'Spock'}
{'name': 'Leonard', 'score': 0, 'strategy': 'Scissors'} {'name': 'Raj', 'score': 0, 'strategy': None}
{'name': 'Leonard', 'score': 0, 'strategy': 'Scissors'} {'name': 'Howard', 'score': 0, 'strategy': None}
{'name': 'Sheldon', 'score': 1, 'strategy': 'Spock'} {'name': 'Raj', 'score': 0, 'strategy': None}
{'name': 'Sheldon', 'score': 1, 'strategy': 'Spock'} {'name': 'Howard', 'score': 0, 'strategy': None}
{'name': 'Raj', 'score': 0, 'strategy': None} {'name': 'Howard', 'score': 0, 'strategy': None}

In [13]:
#reset game
society=[{'name':n,'score':0,'strategy':None} for n in names]

#create games
for aRound in range(100):
    
    #in each round
    for player1,player2 in itertools.combinations(society,2):
        # each chooses strategy
        player1['strategy']=choice(strategies)
        player2['strategy']=choice(strategies)
        # result from each game
        result=payoff[player1['strategy'],player2['strategy']]
        # update scores
        player1['score']+=result[0]
        player2['score']+=result[1]

In [14]:
# results
society

[{'name': 'Leonard', 'score': 113, 'strategy': 'Scissors'},
 {'name': 'Sheldon', 'score': 126, 'strategy': 'Spock'},
 {'name': 'Raj', 'score': 114, 'strategy': 'Scissors'},
 {'name': 'Howard', 'score': 116, 'strategy': 'Paper'}]

In [15]:
# results as a data frame
socialResults=pd.DataFrame(society)
socialResults

      name  score  strategy
0  Leonard    113  Scissors
1  Sheldon    126     Spock
2      Raj    114  Scissors
3   Howard    116     Paper

In [16]:
#winners
winnerScore=socialResults.score.max()
socialResults[socialResults.score==winnerScore]

      name  score strategy
1  Sheldon    126    Spock