In [1]:
import pandas as pd 

gitCloudRepo = 'https://github.com/rjblake34/waenroll/raw/main/'
fileName = 'waenrolldf.csv'

DFenroll = pd.read_csv(gitCloudRepo+fileName)

In [2]:
DFenroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 927 entries, 0 to 926
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Year              927 non-null    int64
 1   District          927 non-null    object
 2   2 Year            927 non-null    float64
 3   4 Year            927 non-null    float64
 4   Not Enrolled      927 non-null    float64
 5   Total Students    927 non-null    int64
 6   Female %          927 non-null    float64
 7   White %           927 non-null    float64
 8   ELL %             927 non-null    float64
 9   Low Income %      927 non-null    float64
 10  Highly Capable %  927 non-null    float64
dtypes: float64(8), int64(2), object(1)
memory usage: 79.8+ KB

In [3]:
DFenroll

,Year,District,2 Year,4 Year,Not Enrolled,Total Students,Female %,White %,ELL %,Low Income %,Highly Capable %
0,2014,Aberdeen,0.4250,0.180,0.395,3404,0.487955,0.573443,0.098120,0.726204,0.028202
1,2014,Adna,0.4200,0.120,0.470,610,0.470492,0.903279,0.000000,0.288525,0.000000
2,2014,Anacortes,0.2750,0.425,0.305,2708,0.494092,0.839734,0.022526,0.331610,0.016987
3,2014,Arlington,0.3000,0.275,0.425,5575,0.477309,0.787444,0.038924,0.374709,0.000538
4,2014,Auburn,0.2825,0.325,0.390,15685,0.492828,0.451450,0.149251,0.596047,0.014472
...,...,...,...,...,...,...,...,...,...,...,...
922,2019,Asotin-Anatone,0.2000,0.420,0.370,625,0.502400,0.862400,0.000000,0.379200,0.051200
923,2019,Lake Washington Institute of Technology,0.2900,0.240,0.470,806,0.423077,0.648883,0.000000,0.000000,0.000000
924,2019,College Place,0.5200,0.190,0.290,1629,0.476980,0.495396,0.176796,0.574586,0.062615
925,2019,Summit Public School: Olympus,0.1500,0.480,0.360,183,0.497268,0.267760,0.060109,0.715847,0.081967
926,2019,Summit Public School: Sierra,0.2200,0.660,0.130,344,0.485465,0.316860,0.107558,0.357558,0.151163