In [1]:
import pandas as pd 

gitCloudRepo = 'https://github.com/rjblake34/waenroll/raw/main/'
fileName = 'waenrolldf.csv'

DFenroll = pd.read_csv(gitCloudRepo+fileName)

In [2]:
DFenroll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1024 entries, 0 to 1023
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      1024 non-null   int64
 1   Year                            1024 non-null   int64
 2   District                        1024 non-null   object
 3   2 Year                          1024 non-null   float64
 4   4 Year                          1024 non-null   float64
 5   Not Enrolled                    1024 non-null   float64
 6   all_students                    1024 non-null   int64
 7   female                          1024 non-null   int64
 8   male                            1024 non-null   int64
 9   gender_x                        1024 non-null   int64
 10  american_indian_alaskan_native  1024 non-null   int64
 11  asian                           1024 non-null   int64
 12  black_african_american          1024 non-null   int64
 13  hispanic_latino_of_any_race     1024 non-null   int64
 14  native_hawaiian_other_pacific   1024 non-null   int64
 15  two_or_more_races               1024 non-null   int64
 16  white                           1024 non-null   int64
 17  english_language_learners       1024 non-null   int64
 18  highly_capable                  1024 non-null   int64
 19  low_income                      1024 non-null   int64
 20  non_english_language_learners   1024 non-null   int64
 21  non_highly_capable              1024 non-null   int64
 22  non_low_income                  1024 non-null   int64
dtypes: float64(3), int64(19), object(1)
memory usage: 184.1+ KB

In [3]:
DFenroll

,Unnamed: 0,Year,District,2 Year,4 Year,Not Enrolled,all_students,female,male,gender_x,...,hispanic_latino_of_any_race,native_hawaiian_other_pacific,two_or_more_races,white,english_language_learners,highly_capable,low_income,non_english_language_learners,non_highly_capable,non_low_income
0,0,2014,Aberdeen,0.440,0.180000,0.385000,3404,1661,1743,0,...,1003,10,162,1952,334,96,2472,3070,3308,932
1,1,2014,Adna,0.420,0.120000,0.470000,610,287,323,0,...,35,0,14,551,0,0,176,610,610,434
2,2,2014,Anacortes,0.275,0.420000,0.310000,2708,1338,1370,0,...,226,8,44,2274,61,46,898,2647,2662,1810
3,3,2014,Arlington,0.310,0.275000,0.415000,5575,2661,2914,0,...,667,30,279,4390,217,3,2089,5358,5572,3486
4,4,2014,Auburn,0.285,0.325000,0.387500,15685,7730,7955,0,...,4148,530,1444,7081,2341,227,9349,13344,15458,6336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,1019,2019,White Salmon Valley,0.120,0.375000,0.510000,1285,591,693,1,...,406,2,42,819,196,100,589,1089,1185,696
1020,1020,2019,Woodland,0.245,0.130000,0.625000,2535,1193,1342,0,...,571,2,99,1821,213,170,1228,2322,2365,1307
1021,1021,2019,Yakima,0.280,0.266667,0.453333,16419,8126,8293,0,...,13058,18,396,2642,4947,462,13681,11472,15957,2738
1022,1022,2019,Yelm,0.185,0.285000,0.530000,5902,2813,3085,4,...,937,89,686,3924,165,357,3001,5737,5545,2901
1023,1023,2019,Zillah,0.310,0.220000,0.470000,1335,620,715,0,...,723,0,53,502,144,46,789,1191,1289,546